BasedOnStyle: Google
Language: Cpp
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: None

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterEnum: true
  BeforeElse: true
  BeforeCatch: true

ColumnLimit: 100

AlignAfterOpenBracket: Align
AlignTrailingComments: true

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"Zz'
    Priority: 1
  - Regex: '^<Q'
    Priority: 2
  - Regex: '^<'
    Priority: 3
  - Regex: '.*'
    Priority: 4

PointerAlignment: Left
ReferenceAlignment: Left

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
